/* reset */
html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


/* header section */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    /* width: 152px; */
    height: 31px;
    left: 173px;
    top: 52px;

}


.brand-log {
    position: absolute;
    width: 190px;
    height: 31px;
    left: 135px;
    top: 52px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

 .container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
} 

.hero-section {
    background: url('../img/hero.png') no-repeat;
    position: relative;
    height: 800px;
    width: 1440px;
    ;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section .navbar-section .navbar {
    display: flex;
    justify-content: space-between;
}

.hero-section .navbar-section .nav-list-item-link {
    color: white;
}

.hero-section .navbar-section .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: azure;
    position: relative;
    width: 404px;
    height: 19px;
    left: 564px;
    top: 58px;
}

span {
    width: 158px;
    height: 43px;
    left: 641px;
    top: 200px;
    position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    opacity: 0.8;
}

h1 {
    width: 839px;
    height: 107px;
    left: 315px;
    top: 273px;
    position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 107px;

    /* identical to box height */
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.hero-sub-heading {
    box-sizing: border-box;

    position: absolute;
    width: 686px;
    height: 80px;
    left: 377px;
    top: 410px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;

    /* or 182% */
    text-align: center;

    color: #FFFFFF;

    opacity: 0.6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.nav-cta {
    box-sizing: border-box;
    position: absolute;
    position: absolute;
    width: 140px;
    height: 55px;
    left: 1165px;
    top: 40px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(237, 255, 129, 0.4);
    border-radius: 116px;

}

.cta {
    box-sizing: border-box;

    position: absolute;
    width: 243px;
    height: 78px;
    left: 599px;
    top: 560px;

    background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.07);
    border-radius: 192px;


    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    /* identical to box height */
    letter-spacing: 0.02em;

    color: #FFFFFF;

    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}

.partner {
    box-sizing: border-box;
    background: #F6FBF9;
    position: absolute;
    display: block;
    width: 1440px;
    ;
    height: 100px;
    left: 0px;
    padding-top: 20px;
}

.partner ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: absolute;
    height: 35.2px;
    left: 184px;
}

.partner-list {
    margin-left: 10px;
    padding: 15px;
    height: 35.2px;
}

.services {
    background-color: #98AA28;
    position: absolute;
    display: flex;
    width: 100%;
    left: 0px;
    top: 840px;
}

.svc-heading {
    position: absolute;
    width: 488px;
    height: 130px;
    left: 135px;
    top: 50px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;

    /* or 155% */
    letter-spacing: 0.02em;

    color: #253D32;


}

.svc-para {
    position: absolute;
    width: 424px;
    height: 160px;
    left: 135px;
    top: 200px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;

    /* or 182% */

    color: #78847D;
}

.svc-tag {

    position: absolute;
    width: 143px;
    height: 28px;
    left: 135px;
    top: 364px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #A3B938;
}

.svc-content {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 100%;
    height: 28px;
    top: -84px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #253D32;


}

.Servies-typeOne {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 733px;
    top: 996px;



}

.Servies-typeTwo {
    position: absolute;
    width: 40px;
    height: 50px;
    left: 1045px;
    top: 996px;



}

.Servies-typeThree {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 733px;
    top: 1265px;



}

.Servies-typeFour {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1051px;
    top: 1265px;



}

.type-paraOne {
    position: absolute;
    width: 228px;
    height: 96px;
    left: 733px;
    top: 1100px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */

    color: #78847D;


}

.type-paraTwo {
    position: absolute;
    width: 244px;
    height: 96px;
    left: 1051px;
    top: 1100px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */

    color: #78847D;


}

.type-paraThree {
    position: absolute;
    width: 228px;
    height: 128px;
    left: 733px;
    top: 1365px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */

    color: #78847D;


}

.type-paraFour {
    position: absolute;
    width: 228px;
    height: 96px;
    left: 1051px;
    top: 1365px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;

    /* or 178% */

    color: #78847D;

}

.svc-container {
    position: absolute;
    display: flex;
    top: 1565px;
}

.svcimg {
    position: absolute;
    width: 670.86px;
    height: 470.2px;
    left: 80.57px;
}

.svc-headinTwo {

    position: absolute;
    width: 488px;
    height: 130px;
    left: 817px;
    top: 126px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;

    /* or 155% */
    letter-spacing: 0.02em;

    color: #253D32;
}

.svc-paraTwo {
    position: absolute;
    width: 436px;
    height: 80px;
    left: 817px;
    top: 280px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;

    /* or 182% */

    color: #78847D;


}

.svc-btnTwo {
    box-sizing: border-box;

    position: absolute;
    width: 243px;
    height: 78px;
    left: 817px;
    top: 400px;

    background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
    box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.07);
    border-radius: 192px;
}

.update-section {
    position: absolute;
    width: 1440px;
    height: 664px;
    left: 0px;
    top: 2210px;

    background: #F6FBF9;
}

.udt-hding {
    position: absolute;

    height: 65px;
    left: 481px;
    top: 40px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;

    /* identical to box height, or 155% */
    letter-spacing: 0.02em;

    color: #253D32;
}

.udt-para {

    position: absolute;

    height: 26px;
    left: 576px;
    top: 125px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    /* identical to box height */

    color: #78847D;
}

.udt-img {

    position: absolute;
    width: 1138px;
    height: 205px;
    left: 151px;
    top: 215px;


}

.udt-tag {
    position: absolute;
    height: 28px;
    left: 645px;
    top: 500px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;

    color: #A3B938;
}

.sub-catagory {
    position: absolute;
    width: 1440px;
    height: 955px;
    left: 0px;
    top: 3034px;

    background: #FFFFFF;
}

.sub-hding {
    position: absolute;
    width: 488px;
    height: 130px;
    left: 135px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;

    /* or 155% */
    letter-spacing: 0.02em;

    color: #253D32;
}

.sub-hdingOne {
    position: absolute;
    height: 28px;
    left: 839px;
    top: 85px;
    color: #253D32;

    box-sizing: border-box;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    background: #98AA28;


    height: 3px;


    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-hdingTwo {
    position: absolute;

    height: 28px;
    left: 1090px;
    top: 85px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #808371;

    opacity: 0.9;
}

.blog-img {
    position: absolute;
    width: 540px;
    height: 343px;
    left: 135px;
    top: 190px;

}

.blog-imgTwo {
    position: absolute;
    width: 270px;
    height: 245px;
    left: 725px;
    top: 190px;


}

.blog-imgThree {
    position: absolute;
    width: 270px;
    height: 245px;
    left: 1035px;
    top: 190px;
}

.date {

    position: absolute;
    height: 21px;
    left: 135px;
    top: 540px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;

    color: #808371;
}

.dateTwo {

    position: absolute;
    height: 17px;
    left: 725px;
    top: 435px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    letter-spacing: 0.02em;

    color: #808371;
}

.dateThree {

    position: absolute;

    height: 17px;
    left: 1035px;
    top: 435px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    letter-spacing: 0.02em;

    color: #808371;


}
.blog-link{
    position: absolute;
    width: 540px;
    height: 72px;
    left: 135px;
    top: 562px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    
    /* or 138% */
    
    color: #253D32;
    
    
}
.blog-linkTwo{
    position: absolute;
    width: 270px;
    height: 72px;
    left: 725px;
    top: 449px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
    /* or 150% */
    
    color: #253D32;
}
.blog-linkThree{
    position: absolute;
    width: 270px;
    height: 72px;
    left: 1035px;
    top: 449px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
    /* or 150% */
    
    color: #253D32;
}

.blog-paraTwo{
    position: absolute;
width: 270px;
height: 90px;
left: 725px;
top: 520px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;

/* or 167% */

color: #78847D;
}

.blog-para-three {
    position: absolute;
width: 270px;
height: 90px;
left: 1035px;
top: 520px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;

/* or 167% */

color: #78847D;
}

.blog-btn {
    position: absolute;

left: 185px;
top: 680px;

font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

/* identical to box height */
letter-spacing: 0.02em;

color: #98AA28;

box-sizing: border-box;

position: absolute;
width: 206px;
height: 68px;



border: 1px solid #A3B938;
filter: drop-shadow(0px 34px 50px rgba(7, 63, 67, 0.07));
border-radius: 192px;
}

.blog-cta {
    
position: absolute;
height: 68px;
left: 725px;
top: 680px;
}

.blog-ctaOne {
    
position: absolute;
width: 68px;
height: 68px;
left: 1035px;
top: 680px;
}

.contact {
    position: absolute;
width: 1276.8px;
height: 548px;
left: 135px;
top: 900px;
background-image: url(/MarketThink/img/Group\ 640.png);

}

.contact-hding {
    position: absolute;
    width: 659px;
    height: 110px;
    left: 132px;
    top: 100px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 55px;
    
    /* or 172% */
    letter-spacing: 0.01em;
    
    color: #FFFFFF;
}

.contact-img {
    position: absolute;
width: 264px;
height: 42.03px;
left: 132px;
top: 250px;
}

#search {
    position: absolute;
width: 372px;
height: 78px;
left: 132px;
top: 330px;
border-radius: 100px;
}

.contact-btn {
    position: absolute;
width: 103px;
height: 24px;
top: 330px;

font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

/* identical to box height */
letter-spacing: 0.02em;

color: #FFFFFF;

text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

position: absolute;
width: 243px;
height: 78px;
left: 522px;
top: 330px;

background: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%);
box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.07);
border-radius: 192px;
}